* {
  box-sizing: border-box;
}

/* header and navigation styling */

.header {
  background-color: darkslategray;
  line-height: 1.5;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: rgb(34, 61, 61);
  padding-right: 20px;
  padding-left: 20px;
  color: whitesmoke;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.header nav ul {
  list-style-type: none;
  line-height: 0.5;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.header nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  border-bottom: solid 3px whitesmoke;
  right: 2%;
}


/*banner styling */
.hero-banner {
  display: block;
  background: url("../images/art\ station\ bg.png");
  min-height: 500px;
}

.hero-banner div {
  background-color: darkslategray;
  color: whitesmoke;
  position: absolute;
  top: 45%;
  right: 2%;
  width: 400px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}


/* body styling */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

#portfolioGrid {
  grid-area: portfolioGridArea;
  gap: 10px;
  margin: 2%;
  margin-top: 100px;
  display: grid;
  min-height: 500px;
  min-width: 500px;
  height: 70vh;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "webpage1 webpage1 webpage1 webpage1"
  "webpage1 webpage1 webpage1 webpage1"
  "webpage2 webpage2 webpage3 webpage3"
  "webpage4 webpage4 webpage5 webpage5";
}

.portfolioGridArea {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  font-size: 15pt;
  padding: 10px;
}

.portfolioGridArea div {
  background-color: darkslategray;
  color: whitesmoke;
  width: fit-content;
  padding: 10px;
}
#webpage1 {
  grid-area: webpage1;
  border: solid 5px darkslategray;
  background-image: url("../images/coming\ soon.png");
}

#webpage2 {
  grid-area: webpage2;
  border: solid 5px darkslategray;
  background-image: url("../images/coming\ soon.png");
}

#webpage3 {
  grid-area: webpage3;
  border: solid 5px darkslategray;
  background-image: url("../images/coming\ soon.png");
}

#webpage4 {
  grid-area: webpage4;
  border: solid 5px darkslategray;
  background-image: url("../images/coming\ soon.png");
}

#webpage5 {
  grid-area: webpage5;
  border: solid 5px darkslategray;
  background-image: url("../images/coming\ soon.png");
}

.left-content {
  display: inline-block;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  width: 30%;
  border-right: 5px solid darkslategray;
  color: darkslategray;
  font-size: 40pt;
}

.right-content {
  display: block;
  position: relative;
  float: right;
  width: 65%;
}

#contact section ul li {
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 100px;
  color: darkslategray;

  list-style-type: none;
}

#contact section ul li a {
  color: darkslategray;
  text-decoration: none;
  right: 2%;
  font-size: 20pt;
}

#about-header {
  margin-left: 195px;
  block-size: 100px;
  max-width: 200px;
}

#work-header {
  margin-left: 195px;
  block-size: 680px;
  max-width: 200px;
}

#contact-header {
  margin-left: 143px;
  block-size: 100px;
  max-width: 250px;
  padding-right: 10px;
}

#about-text {
  margin-top: 100px;
}

#contact {
  block-size: 100px;
}

@media only screen and (max-width: 1000px) {
  .header nav {
    display: none;
  }

  #portfolioGrid {
    grid-template-areas:
    "webpage1 webpage1 webpage1 webpage1"
    "webpage1 webpage1 webpage1 webpage1"
    "webpage2 webpage2 webpage3 webpage3"
    "webpage4 webpage4 webpage5 webpage5";
}

@media only screen and (max-width: 600px) {
  #header {
    position: static;
    margin: 20px;
  }

  }
  #portfolioGrid {
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "webpage1"
      "webpage1"
      "webpage2"
      "webpage3"
      "webpage4"
      "webpage5"
    ;
  }

  .left-content {
    border-right: none;
    border-bottom: 5px solid darkslategray;
    block-size: 150px !important;
    width: 100%;
  }
}